.logoutButton {
    background: #fff;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-left: auto;
}

.logoutButton:hover {
    transform: scale(1.1);
}

.cardStyle {
    background: #fff;
    border: 0.5px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 16;
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 10px;
}

.toolBarButton {
    padding: 8px 14px;
    background: #185FA5;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 13;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.toolBarButton:hover {
    transform: scale(1.1);
}